<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Welcome to Git Search</span>
</div>

<div class="container">
  <form (ngSubmit)="searchGitRepo()" #searchForm="ngForm">
    <div class="form-group">
      <input type="search" class="form-control" id="search" [(ngModel)]="searchText" name="search" (ngModelChange)="autoComplete(searchText)"
      #search="ngModel" placeholder="Please enter text to search"required autocomplete="true" autofocus="true"  [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete"  >
        <mat-option *ngFor="let option of autocomplete | slice:0:5 " [value]="option?.name">
          {{option?.name}}
        </mat-option>
      </mat-autocomplete>
    </div>
    </form>
</div>

<cdk-virtual-scroll-viewport itemSize="10" class="example-viewport">
  <div *cdkVirtualFor="let result of searchResults" class="searchResults">
    <mat-card class="repo-card">
      <mat-card-header>
        <div mat-card-avatar class="card-header" (click)="openRepo(result.owner.html_url)"
        matTooltip="{{'Name: ' + result.owner.login}}" matTooltipClass="tooltip-class">
          <img mat-card-image src="{{result.owner.avatar_url}}" alt="avatar" class="avatar">
        </div>
        <mat-card-title (click)="openRepo(result.html_url)" class="card-title">{{result.name}}</mat-card-title>
        <mat-card-subtitle>{{result.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
       <p><span><strong>License:</strong> {{result.license?.name}}</span>,
        <span><strong>Size:</strong> {{result.size}}</span>,
        <span><strong>Forks:</strong> {{result.forks}}</span>,
        <span><strong>open issues count:</strong> {{result.open_issues_count}}</span>,
        <span><strong>Watchers:</strong> {{result.watchers}}</span>,
        <span><strong>Created at:</strong> {{result.created_at | date}}</span>,
        <span><strong>Updated at:</strong> {{result.updated_at | date}}</span>
      </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="searchResults.length=== 0 && isSearched" class="form-group"><strong>No repositories found for the search creteria!!</strong></div>
</cdk-virtual-scroll-viewport>